* {
  font-family: "Poppins", Sans-serif;
}

.theme-orange-color {
  color: $theme-orange-color;
}

.theme-title-color {
  color: $theme-title-color;
}

.theme-content-color {
  color: $theme-content-color;
}

.delivery-boy-section-bg {
  background-color: #f9f0e8;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-400 {
  font-weight: 400;
}

.line-height-30 {
  line-height: 30px;
}


