* {
    font-family: "Poppins", Sans-serif;
}

.theme-orange-color {
    color: $theme-orange-color;
}

.theme-title-color {
    color: $theme-title-color;
}

.theme-content-color {
    color: $theme-content-color;
}

.delivery-boy-section-bg {
    background-color: #f9f0e8;
}

// begin: fonts
.bold {
    font-weight: bold !important;
}

.fs-20 {
    font-size: 20px !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}
.font-karla {
    font-family: "Karla" !important;
}
// end: fonts

// begin: btn
.btn-theme-orange{
    background-color: $theme-orange-color !important;
    color: white !important;
    padding: 12px 30px !important;
    font-weight: 600 !important;
}
.btn-theme-orange:hover{
    color: #A30F10 !important;
}
// end: btn


.line-height-30 {
    line-height: 30px;
}

// begin: paddings & margins
.margin-bottom-100{
    margin-bottom: 100px !important;
}
// end: paddins & margins
