.hero-section-bg {
    background-image: url("../img/hero-bg.png");
    background-color: #f9f0e8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 1100px !important;
}

.hero-main-title {
    color: #a30f10;
}


// begin: navigation
.navigation-bar-item{
    font-weight: 500;
    color: #ffffff !important;
    transition: 500ms;
}
.navigation-bar-item:hover{
    color: $theme-orange-color !important;
}
.active-section{
    color: $theme-orange-color !important;
}
// end: navigation