* {
  font-family: "Poppins", Sans-serif;
}

.theme-orange-color {
  color: #faae2d;
}

.theme-title-color {
  color: #0f225d;
}

.theme-content-color {
  color: #727777;
}

.delivery-boy-section-bg {
  background-color: #f9f0e8;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-400 {
  font-weight: 400;
}

.line-height-30 {
  line-height: 30px;
}

.hero-section-bg {
  background-image: url("../img/hero-bg.png");
  background-color: #f9f0e8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 1100px !important;
}

.hero-main-title {
  color: #a30f10;
}