:root{
    --theme-orange-color: #FAAE2D;
    --theme-title-color: #0F225D;
}

*{
    font-family: "Roboto", Sans-serif;
}

.theme-orange-color{
    color: var(--theme-orange-color) !important;
}

.delivery-boy-section-bg{
    background-color: #F9F0E8 !important;
}